html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  background-color: #f7f7f7;
}

* {
  user-select: none;
  /* -webkit-user-drag: none; */
}

img[src=""],
img:not([src]) {
  opacity: 0 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.hide {
  display: none !important;
}

.modal {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.0001);
}

/* 标题栏 */
.header {
  background-color: #cdcdcd;
  position: relative;
}
.header-top {
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
}

/* 标签栏 */
.chrome-tabs {
  background-color: #cdcdcd;
  margin-bottom: -4px;
  padding-right: 200px;
}
.chrome-tabs .chrome-tabs-bottom-bar {
  background-color: #f7f7f7;
}
.chrome-tabs .chrome-tab[active] .chrome-tab-background > svg .chrome-tab-geometry {
  fill: #f7f7f7;
}
.chrome-tabs .chrome-tab:last-child .chrome-tab-dividers::after {
  opacity: 1;
}
.chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-geometry {
  fill: #ddd;
}
.window-blur .chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-geometry {
  fill: #f6f6f6;
}
.chrome-tabs .chrome-tab[active] .chrome-tab-background > svg .chrome-tab-geometry,
.window-blur .chrome-tabs .chrome-tab[active] .chrome-tab-background > svg .chrome-tab-geometry {
  fill: #f7f7f7;
}
.chrome-tabs .chrome-tab .chrome-tab-title,
.chrome-tabs .chrome-tab[active] .chrome-tab-title {
  color: #000;
}
.window-blur .chrome-tabs .chrome-tab .chrome-tab-title,
.window-blur .chrome-tabs .chrome-tab[active] .chrome-tab-title {
  color: #3a3a3a;
}

/* 标签栏右侧区域 */
.tabs-right-area {
  -webkit-app-region: drag;
  position: absolute;
  padding-left: 8px;
  top: 12px;
  right: 0;
}

/* 新建标签页按钮 */
#add-tab-button {
  -webkit-app-region: no-drag;
  display: inline-block;
  width: 26px;
  line-height: 26px;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s;
}
#add-tab-button:hover {
  background-color: #adadad;
}

/* 窗口按钮 */
.window-control {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0;
  right: 0;
  line-height: 30px;
  display: flex;
}
[window-button] {
  display: inline-block;
  color: #000;
  width: 40px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
[window-button]:hover {
  background-color: #b8b8b8;
}
[window-button]:active {
  background-color: #a4a4a4;
}
[window-button="close"]:hover {
  background-color: #ce392c;
  color: #fff;
}
[window-button="close"]:active {
  background-color: #ce756d;
}

/* 地址栏 */
.address-bar {
  line-height: 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px 10px;
}
[nav-button] {
  display: inline-block;
  width: 36px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s;
}
[nav-button] + [nav-button] {
  margin-left: 4px;
}
[nav-button="back"] {
  transform: rotate(180deg);
}
[nav-button]:hover {
  background-color: #e4e4e4;
}
[nav-button]:active {
  background-color: #d6d6d6;
}
[nav-button="stop"],
.loading [nav-button="reload"] {
  display: none;
}
.loading [nav-button="stop"] {
  display: inline-block;
}
[nav-button="back"],
[nav-button="forward"] {
  pointer-events: none;
  opacity: 0.3;
}
.can-go-back [nav-button="back"],
.can-go-forward [nav-button="forward"] {
  pointer-events: auto;
  opacity: 1;
}

/* 下载进度 */
[nav-button="downloading"] {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
[nav-button="downloading"]::after {
  content: var(--count);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9px;
}
[nav-button="downloading"],
.downloading [nav-button="download"] {
  display: none;
}
.downloading [nav-button="downloading"] {
  display: inline-flex;
}
/* @reference: https://www.30secondsofcode.org/css/s/circular-progress-bar/ */
.circular-progress {
  --half-size: calc(var(--size) / 2);
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  animation: progress-animation 0.3s linear 0s 1 forwards;
}
.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}
.circular-progress circle.bg {
  stroke: #ddd;
}
.circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke: #5394fd;
}
@keyframes progress-animation {
  from {
    --progress: 0;
  }
  to {
    --progress: var(--progress);
  }
}

/* 地址框 */
#address {
  flex: auto;
  margin: 0 10px;
  outline: none;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 5px #ddd;
  padding: 0 15px 0 50px;
  z-index: 10;
  position: relative;
  height: 30px;
}
#address:focus {
  outline: 2px solid #a9b8ea;
}
.address-icon {
  margin-left: 30px;
  margin-right: -45px;
  z-index: 11;
}

/* WebView和开发者工具 */
.webview-devtools {
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
}
.is-dragging .webview-devtools {
  pointer-events: none;
}

/* WebView容器 */
#webview-container {
  flex: auto;
  display: flex;
  margin: 5px;
  margin-top: 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 1px #ccc;
  position: relative;
}
.webview {
  flex: auto;
  display: none;
}
.webview[active] {
  display: flex;
}

/* 开发者工具容器 */
#devtools-container {
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
}
.devtools {
  display: none;
}
.devtools[active] {
  display: flex;
}

/* 调整开发者工具大小 */
.resize-handler-h {
  width: 8px;
  margin: 0 -4px;
  z-index: 1;
  cursor: ew-resize;
}
.resizing #webview-container,
.resizing #devtools-container {
  pointer-events: none;
}

/* 标签页预览 */
#tab-preview {
  position: fixed;
  top: 40px;
  left: 20px;
  width: 280px;
  height: 242px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
  pointer-events: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column;
  font-size: 12px;
  line-height: 16px;
  transition: left 0.3s, height 0.3s;
}
.window-maximized #tab-preview {
  top: 30px;
}
#tab-snapshoot {
  border-bottom: 1px solid #dadada;
  background: #f7f7f7;
  flex: auto;
  display: flex;
  justify-content: center;
}
#tab-snapshoot img {
  width: auto;
  height: 180px;
  transition: opacity 0.3s;
}
#tab-preview.active {
  height: 58px;
}
#tab-preview.active #tab-snapshoot {
  display: none;
}
.tab-info {
  overflow: hidden;
  margin: 8px;
}
.tab-info-1 {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
#tab-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
#tab-host {
  display: inline-block;
  padding-left: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 链接预览 */
#href-preview {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-right-radius: 4px;
  background-color: #cdcdcd;
  padding: 4px;
  font-size: 12px;
  max-width: calc(100vw - 50px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  transition: opacity 0.5s;
}

/* 查找栏 */
#find-bar {
  position: fixed;
  top: 76px;
  right: 56px;
  width: 350px;
  line-height: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 20;
}
#find-input {
  flex: auto;
  outline: none;
  border: none;
  font-size: 12px;
  margin-right: 10px;
}
#find-result {
  border-right: 1px solid #cdcdcd;
  margin-right: 10px;
  padding: 0 5px;
  font-size: 11px;
  color: #666;
  align-content: center;
}
[find-button] {
  display: inline-block;
  font-size: 12px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s;
}
[find-button]:hover {
  background-color: #e4e4e4;
}
[find-button]:active {
  background-color: #d6d6d6;
}
[find-button] + [find-button] {
  margin-left: 10px;
}

/* 下载列表 */
#downloads {
  z-index: 1000;
  position: fixed;
  top: 78px;
  right: 50px;
  width: 360px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  min-height: 150px;
  max-height: calc(100vh - 100px);
}
.window-maximized #downloads {
  top: 68px;
}
.downloads-header {
  padding: 8px 10px;
  border-bottom: 1px solid #dadada;
}
.downloads-title {
  font-size: 14px;
  font-weight: bold;
}
.downloads-toolbar {
  float: right;
}
[downloads-button] {
  padding: 6px;
  align-content: center;
  border-radius: 2px;
  cursor: pointer;
}
[downloads-button]:hover {
  background-color: #e5e5e5;
}
.downloads-search {
  padding: 2px 15px 3px 10px;
  border-bottom: 1px solid #dadada;
}
.downloads-search,
.search .downloads-header {
  display: none;
}
.search .downloads-search {
  display: flex;
}
[downloads-button="end-search"] {
  transform: rotate(-90deg);
}
.downloads-search > .icon-search {
  z-index: 1;
  align-content: center;
  margin-left: 18px;
}
#downloads-search-input {
  flex: auto;
  border: 1px solid #888888;
  border-radius: 2px;
  outline: 2px solid rgba(136, 136, 136, 0);
  outline-offset: -2px;
  margin-left: -28px;
  line-height: 30px;
  padding: 0 10px 0 40px;
  transition: outline 0.3s;
}
#downloads-search-input:focus {
  outline: 2px solid #888888;
}
.downloads-list-container {
  flex: auto;
  overflow: auto;
  margin: 0 5px;
}
.downloads-list-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.downloads-list-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #929292;
}
.downloads-list-container::-webkit-scrollbar-thumb:hover {
  background-color: #acacac;
}
.download-item {
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  padding: 10px;
  position: relative;
}
.download-item:hover {
  background-color: #f2f2f2;
}
.download-item.selected {
  background-color: #f2f2f2;
  outline: 2px solid #888888;
  outline-offset: -2px;
}
.download-icon {
  display: flex;
  align-items: center;
}
.download-icon > img {
  width: 16px;
  height: 16px;
}
.download-info {
  margin-left: 10px;
  flex: auto;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}
.download-name {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.download-progress {
  width: 100%;
  height: 10px;
}
.paused .download-progress {
  filter: grayscale(1);
}
.download-bytes-info,
.download-deleted {
  font-size: 10px;
  color: #777777;
}
.download-open-file {
  font-size: 10px;
  color: #2f5b9f;
  text-decoration-line: underline;
  text-underline-offset: 4px;
}
.download-in_progress,
.download-complete {
  position: absolute;
  right: 2px;
  top: 2px;
  height: calc(100% - 4px);
  padding: 0 10px 0px 30px;
  background: linear-gradient(
    to left,
    rgba(242, 242, 242, 1) calc(100% - 20px),
    rgba(242, 242, 242, 0)
  );
  display: none;
  flex-flow: row nowrap;
}
[download-button] {
  height: 30px;
  width: 40px;
  text-align: center;
  align-content: center;
  margin: 6px 0;
  border-radius: 2px;
}
[download-button]:hover {
  background-color: #e5e5e5;
}
/* 下载状态 */
[download-button="resume"],
.paused [download-button="pause"] {
  display: none;
}
.paused [download-button="resume"] {
  display: block;
}
.download-bytes-info,
.download-progress,
.download-open-file {
  display: none;
}
.download-item.in_progress .download-bytes-info,
.download-item.in_progress .download-progress {
  display: block;
}
.download-item.complete .download-open-file {
  display: inline-block;
}
.download-item.in_progress:hover .download-in_progress,
.download-item.complete:hover .download-complete {
  display: flex;
}
.download-item.in_progress .download-deleted {
  display: none !important;
}
/* 已删除 */
.download-deleted {
  display: none;
}
.deleted .download-deleted {
  display: block;
}
.download-item.complete.deleted {
  cursor: default;
  filter: grayscale(1);
}
.download-item.complete.deleted .download-name {
  text-decoration-line: line-through;
}
.download-item.complete.deleted .download-open-file,
.download-item.complete.deleted .download-in_progress,
.download-item.complete.deleted .download-complete {
  display: none !important;
}

/* 窗口失去焦点 */
.window-blur .header,
.window-blur #tab-bar {
  background-color: #e8e8e8;
}
.window-blur tab-item:hover {
  background-color: #f6f6f6;
}

/* 窗口最大化 */
.window-maximized .header-top {
  display: none;
}
.window-maximized .chrome-tabs {
  padding-top: 0;
  height: 36px;
}
.window-maximized .tabs-right-area {
  top: 4px;
}
.window-maximized [window-button="maximize"] {
  display: none;
}
[window-button="restore"] {
  display: none;
}
.window-maximized [window-button="restore"] {
  display: inline-block;
}
